@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap");

html,
body,
label {
  font-family: "Roboto", sans-serif;
}

.material-symbols-outlined,
.material-symbols-outlined {
  font-size: 1.5rem;
}
* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  touch-action: manipulation;
}
