@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply h-full;
  font-size: 20px;
  -webkit-tap-highlight-color: transparent;
}
body {
  @apply h-full;
}
#app {
  @apply h-full;
}
div#__next {
  @apply h-full;
}
main {
  @apply h-full;
}
button {
  user-select: none;
}

@media (display-mode: standalone) {
  html,
  body {
    overscroll-behavior: none;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
