@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap");

html,
body,
label {
  font-family: "Roboto", sans-serif;
}

.material-symbols-rounded,
.material-symbols-rounded {
  font-size: 1.5rem;
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  touch-action: manipulation;
}

*:not(input):not(select):not(code):not(textarea):not([contenteditable]) {
  webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.p-button {
  justify-content: flex-start !important;
  text-align: left !important;
  font-weight: 500 !important;
}
