@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply h-full;
  font-size: 20px;
  -webkit-tap-highlight-color: transparent;
}
body {
  @apply h-full;
}
#app {
  @apply h-full;
}
div#__next {
  @apply h-full;
}
main {
  @apply h-full;
}
button {
  user-select: none;
}
